{% extends 'base.html.twig' %}

{% block title %}{{ 'posts.add.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'posts.add.h1'|trans }} ({{ category.name }})</h1>
    {{ form_start(form, { method: 'POST', action: url('post_create', {'id': category.id}) }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
    {{ form_end(form) }}
{% endblock %}
