{% extends 'base.html.twig' %}

{% block title %}{{ post.topic }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .last {
            margin-bottom: 20px;
        }
        .pagination {
            float: right;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="category" style="margin-top:35px;">
        {{ post.topic }}
        <a href="{{ url('post_delete', {'id': post.id}) }}" class="btn btn-default" style="float: right;">
            <span class="glyphicon glyphicon-trash"></span> {{ 'delete.post'|trans }}
        </a>
        <a href="{{ url('post_edit', {'id': post.id}) }}" class="btn btn-default"
           style="float: right; margin-right: 10px;">
            <span class="glyphicon glyphicon-plus"></span> {{ 'edit.post'|trans }}
        </a>
    </div>
    <div class="wrap">
        <div class="na bold">
            <a href="mailto:{{ post.user.email }}">
                {{ post.user.details.name }} {{ post.user.details.surname }}<br><i>{{ post.user.email }}</i>
            </a>
        </div>
        <div style="position:absolute;right:20px;">
            {% if alreadyMarked == false %}
                <a href="{{ url('post_mark', {'id': post.id, 'bool': 0}) }}">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </a>
            {% else %}
                <span class="glyphicon glyphicon-thumbs-down"></span>
            {% endif %}

            {% if mark > 0 %}
                <span style="color:#3c763d;">{{ mark }}</span>
            {% elseif mark < 0 %}
                <span style="color:#a94442;">{{ mark }}</span>
            {% else %}
                {{ mark }}
            {% endif %}

            {% if alreadyMarked == false %}
                <a href="{{ url('post_mark', {'id': post.id, 'bool': 1}) }}">
                    <span class="glyphicon glyphicon-thumbs-up" style="margin-right: 30px;"></span>
                </a>
            {% else %}
                <span class="glyphicon glyphicon-thumbs-up" style="margin-right: 30px;"></span>
            {% endif %}
        </div>
    </div>
    <hr style="margin-top:0;">
    <div>
        {{ post.post }}
    </div>
    <div style="margin-top: 80px;background:#a3a3a3;padding: 10px;">
        {{ 'post.comments'|trans }}
        <a href="{{ url('comment_create', {'id': post.id}) }}" class="btn btn-default" style="float: right;margin-top: -7px;">
            <span class="glyphicon glyphicon-plus"></span> {{ 'add.comment'|trans }}
        </a>
    </div>
    <div style="padding: 0 20px 20px;">
        {% if comments|length > 0 %}
            {% for comment in comments %}
                <div class="wrap">
                    <div class="na">
                        <a href="mailto:{{ post.user.email }}" class="bold">
                            {{ post.user.details.name }} {{ post.user.details.surname }}
                        </a>
                        (<a href="{{ url('comment_edit', {id: comment.id}) }}">{{ 'edit.comment'|trans }}</a> /
                        <a href="{{ url('comment_delete', {id: comment.id}) }}">{{ 'delete.comment'|trans }}</a>)
                    </div>
                    <div style="position:absolute;right:40px;">
                        {% if commentMarkRepository.alreadyVoted(comment, app.user) == false %}
                            <a href="{{ url('comment_mark', {'id': comment.id, 'bool': 0}) }}">
                                <span class="glyphicon glyphicon-thumbs-down"></span>
                            </a>
                        {% else %}
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        {% endif %}

                        {% if commentMarkRepository.countMarkValue(comment) > 0 %}
                            <span style="color:#3c763d;">{{ commentMarkRepository.countMarkValue(comment) }}</span>
                        {% elseif commentMarkRepository.countMarkValue(comment) < 0 %}
                            <span style="color:#a94442;">{{ commentMarkRepository.countMarkValue(comment) }}</span>
                        {% else %}
                            {{ commentMarkRepository.countMarkValue(comment) }}
                        {% endif %}

                        {% if commentMarkRepository.alreadyVoted(comment, app.user) == false %}
                            <a href="{{ url('comment_mark', {'id': comment.id, 'bool': 1}) }}">
                                <span class="glyphicon glyphicon-thumbs-up" style="margin-right: 30px;"></span>
                            </a>
                        {% else %}
                            <span class="glyphicon glyphicon-thumbs-up" style="margin-right: 30px;"></span>
                        {% endif %}
                    </div>
                </div>
                <hr style="margin-top:0;">
                <div style="padding: 0 0 10px 20px">
                    {{ comment.comment }}
                </div>
            {% endfor %}

            {{ knp_pagination_render(comments) }}
        {% else %}
            <div class="last text-center">
                {{ 'comments.empty'|trans }}
            </div>
        {% endif %}
    </div>
{% endblock %}
