{% extends 'base.html.twig' %}

{% block title %}{{ 'categories.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'categories.h1'|trans }}</h1>
    {% if categories is defined and categories.items|length %}
        <ul>
        {% for category in categories %}
            <li>
              {{ category.name }}
              (<a href="{{ url('category_show', {'id': category.id}) }}">{{ 'categories.to.view'|trans }}</a> /
              <a href="{{ url('category_edit', {'id': category.id}) }}">{{ 'categories.to.edit'|trans }}</a> /
              <a href="{{ url('category_delete', {'id': category.id}) }}">{{ 'categories.to.delete'|trans }}</a>)
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {{ 'categories.empty'|trans }}
    {% endif %}
{% endblock %}
