{% extends 'base.html.twig' %}

{% block title %}{{ 'comments.delete.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'comments.delete.h1'|trans }}</h1>
    {{ form_start(form, { method: 'DELETE', action: url('comment_delete', {'id': comment.id}) }) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-primary" />
    {{ form_end(form) }}
{% endblock %}
